<h2 data-test-team-name>{{model.teamName}}</h2>

<h4>Members of {{model.teamName}}</h4>

<ul>
  {{#each model.users as |user index|}}
    <li data-test-username="{{index}}">{{#link-to 'users.show' user}}{{user.username}}{{/link-to}}</li>
  {{/each}}
</ul>
