<table>
  <tr>
    <th>Email</th>
    <th>Username</th>
    <th>Profile Text</th>
  </tr>
  <tr>
    <td data-test-email>{{model.email}}</td>
    <td>{{model.username}}</td>
    <td>{{model.profileText}}</td>
  </tr>
</table>
